<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsService1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Connection" value="Password=cl053_dO0r;Persist Security Info=False;User ID=appUser;Initial Catalog=Report;Data Source=192.168.99.174,24115;trusted_connection=False;Connection Timeout=0"/>
		<add key="Folder" value="C://reports/"/>
	</appSettings>
    <userSettings>
        <WindowsService1.Settings1>
            <setting name="Connection" serializeAs="String">
                <value>Password=cl053_dO0r;Persist Security Info=False;User ID=appUser;Initial Catalog=Report;Data Source=192.168.99.174,24115;trusted_connection=False;Connection Timeout=0</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>C://reports/</value>
            </setting>
        </WindowsService1.Settings1>
    </userSettings>
</configuration>